
/* ========== QUOTE APP ============= */

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 320px;
	min-height: 100vh;
}
.container-quote {
	background-color: #ffffff;
	width: 700px;
	padding: 1.5em;
	box-shadow: 5px 5px 10px rgb(82, 81, 81);
}
.quote {
	display: flex;
	align-items: center;
	column-gap: 1em;
}
.quote__icon {
	font-size: 5rem;
}
.quote__author {
	text-align: right;
	margin-right: 10px;
}
.container-btn {
	display: flex;
	justify-content: flex-end;
	padding-top: 1em;
	margin-right: 10px;
}
.quote__btn {
	border: transparent;
	border-radius: 50%;
	font-size: 2rem;
	padding: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	box-shadow: 3px 3px 5px rgb(82, 81, 81);
}

/* ============ COLORS CLASSES =========== */

.red {
	color: #cf596e;
}
.green {
	color: #28a27e;
}
.blue {
	color: #2e4fe2;
}
.purple {
	color: #9a68d7;
}
.pink {
	color: #ff80c0;
}
.yellow {
	color: #fbb93f;
}
.violet {
	color: #6c2050;
}
.red-bg {
	background-color: #cf596e;
}
.green-bg {
	background-color: #28a27e;
}
.blue-bg {
	background-color: #2e4fe2;
}
.purple-bg {
	background-color: #9a68d7;
}
.pink-bg {
	background-color: #ff80c0;
}
.yellow-bg {
	background-color: #fbb93f;
}
.violet-bg {
	background-color: #6c2050;
}
